{%extends "base.html"%}
{%block title%}Home{%endblock%}
{%block content%}
    <div class="container mt-4">
        <h1 class="text-center">New York Events API Documentation</h1>
        
        <section id="introduction">
            <h2>Introduction</h2>
            <p>This API provides information about various events happening in and around New York City. It allows users to create, view, and manage event details.</p>
        </section>
        
         <section id="base-url">
            <h2>Base URL</h2>
            <p>The base URL is the root URL for all of the API's endpoints. All requests should start with this base URL:</p>
            <p><strong>https://new-york-events-66105853a688.herokuapp.com</strong></p>
        </section>   

        <section id="endpoints">
            <h2>API Endpoints</h2>
            
            <div class="endpoint">
                <h4>POST /form</h4>
                <p>Use this endpoint to add a new event. The request should contain event details such as name, place, URL, image URL, and description.</p>
            </div>

            <div class="endpoint">
                <h4>GET /get-all-events</h4>
                <p>List all available events. This endpoint returns an array of all events with their details.</p>
                <p><strong>Example Request: </strong><a href="https://new-york-events-66105853a688.herokuapp.com/get-all-events">https://new-york-events-66105853a688.herokuapp.com/get-event/get-all-events</a></p>
            </div>
            
            <div class="endpoint">
                <h4>GET /get-event/&lt;event_name&gt;</h4>
                <p>Retrieve details of a specific event by providing the event name. This endpoint returns all relevant information about the event.</p>
                <p><strong>Example Request: </strong><a href="https://new-york-events-66105853a688.herokuapp.com/get-event/Fireworks">https://new-york-events-66105853a688.herokuapp.com/get-event/Fireworks</a></p>
            </div>
            
            <div class="endpoint">
                <h4>GET /get-event/&lt;event_id&gt;</h4>
                <p>Retrieve details of a specific event by providing the event id. This endpoint returns all relevant information about the event.</p>
                <p><strong>Example Request: </strong><a href="https://new-york-events-66105853a688.herokuapp.com/get-event-id/2">https://new-york-events-66105853a688.herokuapp.com/get-event-id/2</a></p>
            </div>

        </section>

        <section id="usage">
            <h2>How to Use</h2>
            <p>Send HTTP requests to the above endpoints with the required parameters to interact with the API. Ensure to handle responses in your client application.</p>
        </section>
    </div>


{%endblock%}